body {
	background: url("../img/general/main-bg.jpg") repeat;
	color:#f6f6f6;
}
.manager-wrapper{
	margin: 32px auto 0;
	position: relative;
}
.scoreboard {
	background: url("../img/general/left-part-scoreboard.png") no-repeat left top, url("../img/general/right-part-scoreboard.png") no-repeat right top, url("../img/general/scoreboard.png") repeat-x;
	height: 74px;
	position: relative;
}

.scoreboard:before, .scoreboard:after {
	content: '';
	position: absolute;
	display: block;
	background: url("../img/general/binding.png") no-repeat;
	background-size: 8px 33px;
	width: 8px;
	height: 32px;
	bottom: 100%;
}

.scoreboard:before {
	left: 65px;
}

.scoreboard:after {
	right: 65px;
}

.scoreboard ul {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 15px 3px;
	-webkit-box-align: center;
	-moz-box-align: center;
	height: 100%;
	font: 23px 'ditedregular';
	color: #ffffff;
	list-style: none;
}

.scoreboard ul li:nth-child(even) {
	padding-bottom: 4px;
}
.scoreboard ul li:nth-child(odd):hover {
	cursor: pointer;
	border-bottom: 1px dashed #ffffff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 1px;
}

.content-wrapper {
	display: -webkit-box;
	display: -moz-box;
	min-width: 560px;
}
.main-content,.left-content{
	background: rgba(0, 0, 0, 0.6);
	min-height: 500px;
	padding-bottom: 50px;
}

.main-content {
	width: 100%;
}
.left-content{
	display: none;
}
.left-content .title-block,
.user-menu > ul {
	background: #87a13e;
	background: -moz-linear-gradient(top, #87a13e 0%, #4e5d22 100%);
	background: -webkit-linear-gradient(top, #87a13e 0%, #4e5d22 100%);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	display: -webkit-box;
	display: -moz-box;
	width: 100%;

}
.left-content .title-block{
	height: 40px;
	font-size: 15px;
	color:#ffffff;
	-webkit-box-align: center;
	-moz-box-align: center;
}
.user-menu > ul {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	list-style: none;
}

.user-menu > ul li {
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px 0 5px;
}

.user-menu > ul li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	list-style: none;
	padding: 0;
}

.user-menu > ul li ul li {
	height: 30px;
	background: #4e5d22;  
}

.user-menu > ul li a {
	height: 40px;
	color: #fff;
	text-decoration: none;
	display: -webkit-box;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-align: center;
	font-size: 15px;
}

.user-menu > ul li ul li a {
	width: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-bottom: 10px;
}

.user-menu > ul li:hover ul {
	display: block;
}

.user-menu > ul li:hover {
	background: #4e5d22;
	opacity: 0.95;
}

.user-menu > ul li ul li:hover {
	background: -moz-linear-gradient(top, #87a13e 0%, #4e5d22 26%, #4e5d22 81%, #87a13e 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #87a13e 0%, #4e5d22 26%, #4e5d22 81%, #87a13e 100%); /* Chrome10+,Safari5.1+ */
}

.user-menu > ul li ul li:last-child {
	border-radius: 0 0 5px 5px;
}
.field{
	background: url("../img/general/field.png") no-repeat;
	background-size: contain;
	margin-top: 0;
}

.user-wrapper {
	background: url("../img/general/left-part-scoreboard.png") no-repeat left top, url("../img/general/right-part-scoreboard.png") no-repeat right top, url("../img/general/scoreboard.png") repeat-x;
	height: 74px;
	position: absolute;
	width: 110px;
	top: 0;
	right: 0;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	box-sizing: border-box;
	display: -moz-box;
	-moz-box-align: center;
	-moz-box-pack: center;
	-moz-box-sizing: border-box;
}
.user-wrapper:before {
	content: '';
	position: absolute;
	display: block;
	background: url("../img/general/binding.png") no-repeat;
	background-size: 8px 33px;
	width: 8px;
	height: 32px;
	bottom: 100%;
	left: 50%;
}
.user-wrapper .user-icon{
	background: url("../img/general/user-icon-48x48.png") no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;
}


