.user-wrapper .dialog-wrapper{
	position: absolute;
	top: 112%;
	right: 0;
	width: 416px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 20px;
}

.user-wrapper .dialog-wrapper .fields-wrapper {
	display: -webkit-box;
	-webkit-box-pack: justify;
	display: -moz-box;
	-moz-box-pack: justify;
	margin-bottom: 10px;
}

.user-wrapper .dialog-wrapper .email-wrapper,
.user-wrapper .dialog-wrapper .password-wrapper {
	width: 45%;
}

.user-wrapper .dialog-wrapper .buttons-wrapper {
	display: -webkit-box;
	-webkit-box-pack: justify;
	display: -moz-box;
	-moz-box-pack: justify;
	margin-bottom: 5px;
}

.user-wrapper .dialog-wrapper .checkbox {
	margin: 0;
	display: -webkit-box;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-align: center;
}

.user-wrapper .dialog-wrapper:before {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid rgba(0, 0, 0, 0.7);
	top: -10px;
	right: 50px;
}
@-moz-document !url-prefix(){
	@media all and (max-width: 768px) {
		.user-wrapper .dialog-wrapper {
			width: 590px;
			display: -webkit-box;
		}

		.user-wrapper .dialog-wrapper .fields-wrapper {
			width: 320px;
			margin-right: 20px;
		}

		.user-wrapper .dialog-wrapper .email-wrapper,
		.user-wrapper .dialog-wrapper .password-wrapper {
			width: 150px;
		}

		.user-wrapper .dialog-wrapper .buttons-wrapper {
			margin-top: 25px;
			width: 210px;
		}

		.user-wrapper .dialog-wrapper .checkbox {
			height: 30px;
		}

		.user-wrapper .dialog-wrapper:before {
			right: 35px;
		}
	}

	@media all and (min-width: 768px) and (max-width: 1000px ) {
		.user-wrapper .dialog-wrapper:before {
			right: 40px;
		}
	}

	@media all and (min-width: 1001px) and (max-width: 1250px ) {
		.user-wrapper .dialog-wrapper:before {
			right: 40px;
		}
	}
}
/*---------------Mozilla-----------------*/
@-moz-document url-prefix() {
	@media all and (max-width: 768px) {
		.user-wrapper .dialog-wrapper .email-wrapper{
			margin-right: 30px;
		}
		.user-wrapper .dialog-wrapper .buttons-wrapper .checkbox{
			display: block;
			margin-right: 200px;
			padding-top: 5px;
		}
		.user-wrapper .dialog-wrapper .email-wrapper,
		.user-wrapper .dialog-wrapper .password-wrapper {
			width: 170px;
		}
	}
	@media all and (min-width: 768px) and (max-width: 1000px ) {
		.user-wrapper .dialog-wrapper .email-wrapper{
			margin-right: 30px;
		}
		.user-wrapper .dialog-wrapper .buttons-wrapper .checkbox{
			display: block;
			margin-right: 200px;
			padding-top: 5px;
		}
		.user-wrapper .dialog-wrapper .email-wrapper,
		.user-wrapper .dialog-wrapper .password-wrapper {
			width: 170px;
		}
	}
	@media all and (min-width: 1001px) and (max-width: 1250px ) {
		.user-wrapper .dialog-wrapper .email-wrapper{
			margin-right: 30px;
		}
		.user-wrapper .dialog-wrapper .buttons-wrapper .checkbox{
			display: block;
			margin-right: 200px;
			padding-top: 5px;
		}
		.user-wrapper .dialog-wrapper .email-wrapper,
		.user-wrapper .dialog-wrapper .password-wrapper {
			width: 170px;
		}
	}
	@media all and (min-width: 1251px) {
		.user-wrapper .dialog-wrapper .email-wrapper{
			margin-right: 30px;
		}
		.user-wrapper .dialog-wrapper .buttons-wrapper .checkbox{
			display: block;
			margin-right: 200px;
			padding-top: 5px;
		}
		.user-wrapper .dialog-wrapper .email-wrapper,
		.user-wrapper .dialog-wrapper .password-wrapper {
			width: 170px;
		}
	}
}